//import vendors files
  @import "vendor/bootstrap";
  @import "vendor/animate";

//import base files
  @import "base/icons";

//import modules files
  @import "modules/home";

.container-fluid{
  padding-left: 30px;
  padding-right: 30px;
}

canvas#wordCanvas{
  display: none;
}

img{
  max-width: 100%;
}
